{% extends 'main/header.html' %} {% load static %} {% block content %}

<!-- main content -->

<div class="container" style="max-width:1500px; min-height:100%">
    <br><button type="button" class="btn" style="background-color:#FFF; color:#000" onclick="goBack()">Back to Home</button><br>
    <div class="row">
        <div class="col l4 s12 m6">
            <a href="/machine-learning" class="waves-effect waves-light" style="color:#000">
                <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/DataAnalysis/hierarchcical-clustering.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Machine Learning</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Employ both supervised and unsupervised machine learning, to make predictions or to understand data.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/machine-learning" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
                    </div>
                </div>
            </a>
        </div>
        <div class="col l4 s12 m6">
            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/data-analysis-with-pandas" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/DataAnalysis/3D-Matplotlib.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Data Analysis w/ Pandas</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Use Python with Pandas, Matplotlib, and other modules to gather insights from and about your data.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/data-analysis-with-pandas" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">start</a>
                    </div>
                </a>
            </div>


            <!-- Data Analysis with Python 3 and Pandas -->
        </div>

        <div class="col l4 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/data-visualization-with-dash-and-python" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/DataAnalysis/dash.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Data Visualization Applications with Dash and Python</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Create browser-based fully interactive data visualization applications.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/data-visualization-with-dash-and-python" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>

        <div class="col l4 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/data-visualization" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/DataAnalysis/data-visualization-group.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Data Visualization</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Using Matplotlib, graphically display your data for presentation or analysis.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/data-visualization" class="waves-effect waves-light btn" style="color:#000;background-color:#FFD166">start</a>
                    </div>
                </a>
            </div>


        </div>


        <div class="col l4 s12 m6">
            <a href="/finance" class="waves-effect waves-light" style="color:#000">
                <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/DataAnalysis/finance-playlist.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Finance</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Devise, create, test, and deploy automated algorithmic trading strategies in the financial markets.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/finance" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
                    </div>
                </div>
            </a>
        </div>


        <div class="col l4 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/google-cloud" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/DataAnalysis/google-cloud-tutorials.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Google Cloud Tutorials</strong></span>
                    </div>
                    <div class="card-content">
                        <p>From launching a simple virtual machine to deploying advanced machine learning APIs with Python.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/google-cloud" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>


        <div class="col l4 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/images-and-video-analysis" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/DataAnalysis/opencv-object-detection-sample-target.jpg' %}" style="width:250px">
                        <br><span class="card-title"><strong>Image and Video Analysis</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Analyze video and images with your machine to program tasks like face and object recognition.</p>

                    </div>
                    <div class="card-action right-align">
                        <a href="/images-and-video-analysis" class=" waves-effect waves-light btn" style="color:#000000; background-color:#FFD166 ">start</a>
                    </div>
                </a>
            </div>


        </div>

        <div class="col l4 s12 m6 ">

            <div class="card-panel hoverable " style="height:360px; background-color:#FFFFFF; ">
                <a href="/distributed-computing" class="waves-effect waves-light " style="color:#000 ">
                    <div class="card-image ">
                        <img class="responsive-img " src="{% static 'main/images/DataAnalysis/supercomputer-raspberry-pi-tutorials.jpg' %} " style="width:250px ">
                        <br><span class="card-title "><strong>Distributed Computing</strong></span>
                    </div>
                    <div class="card-content ">
                        <p>Use MPI with machines to do distributed and parallel computing tasks.</p>
                    </div>
                    <div class="card-action right-align ">
                        <a href="/distributed-computing" class="waves-effect waves-light btn " style="color:#000000; background-color:#FFD166 ">start</a>
                    </div>
                </a>
            </div>


        </div>

        <div class="col l4 s12 m6 ">

            <div class="card-panel hoverable " style="height:360px; background-color:#FFFFFF; ">
                <a href="/natural-language-processing" class="waves-effect waves-light " style="color:#000 ">
                    <div class="card-image ">
                        <img class="responsive-img " src="{% static 'main/images/DataAnalysis/nltk_chunking.png' %} " style="width:250px ">
                        <br><span class="card-title "><strong>Natural Language Processing</strong></span>
                    </div>
                    <div class="card-content ">
                        <p>Teach machines to read, understand, and analyze human natural language.</p>
                    </div>
                    <div class="card-action right-align ">
                        <a href="/natural-language-processing" class="waves-effect waves-light btn " style="color:#000000; background-color:#FFD166 ">start</a>
                    </div>
                </a>
            </div>


        </div>
    </div>


</div>


</div>
</div>

<!--login modal-->


<!--Register modal-->



<script>
    $(document).ready(function() {
        $(".button-collapse ").sideNav();
        $('.modal-trigger').leanModal();
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        $('#aside').pushpin({
            top: 110,
            bottom: 500
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        $('select').material_select();
    });
</script>
<script>
    function goBack() {
        window.history.back()
    }
</script>
<script type="text/javascript " src="../static/js/run_prettify.js "></script>

</body>

<footer class="page-footer ">
    <div class="container ">
        <div class="row ">
            <div class="col l6 s12 ">
                <h5 class="white-text ">You've reached the end!</h5>

                <p class="grey-text text-lighten-4 ">Contact: Harrison@pythonprogramming.net.</p>
                <ul>
                    <li><a class="grey-text text-lighten-3 " href="../support-donate/index.html ">Support this Website!</a></li>
                    <li><a class="grey-text text-lighten-3 " href="../consulting/index.html ">Consulting and Contracting</a></li>
                    <li><a class="grey-text text-lighten-3 " href="https://www.facebook.com/pythonprogramming.net/ ">Facebook</a></li>
                    <li><a class="grey-text text-lighten-3 " href="https://twitter.com/sentdex ">Twitter</a></li>
                    <li><a class="grey-text text-lighten-3 " href="https://instagram.com/sentdex ">Instagram</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12 ">
                <h6 class="white-text ">Legal stuff:</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3 " href="../about/tos/index.html ">Terms and Conditions</a></li>
                    <li><a class="grey-text text-lighten-3 " href="../about/privacy-policy/index.html ">Privacy Policy</a></li>

                </ul>
            </div>
        </div>
    </div>
    <a href="https://xkcd.com/353/ " target='blank'>
        <p class="grey-text right " style='padding-right:10px'>Programming is a superpower.</p>
    </a>
    <div class="footer-copyright ">
        <div class="container ">
            © OVER 9000! PythonProgramming.net

        </div>

    </div>
</footer>


<!-- Mirrored from pythonprogramming.net/data-analysis-tutorials/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 21 Jun 2021 21:35:59 GMT -->

</html>
{% endblock %}