{% extends 'main/header.html' %} {% load static %} {% block content %}

<!-- main content -->
<div class="container" style="max-width:1500px; min-height:100%">
    <br><button type="button" class="btn" style="background-color:#FFF; color:#000" onclick="goBack()">Back to Home</button><br>
    <div class="row">


        <div class="col l6 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/python-basics" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/PythonFundamentals/python-3-basics.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Basics</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Just getting started?</p>
                        <p>Not a problem, learn the basics of programming with Python 3 here!</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/python-basics" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>


        <div class="col l6 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/python-intermediate" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/PythonFundamentals/intermediate-python-category.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Intermediate Python Fundamentals</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Python fundamentals that aren't basic.</p>
                        <p>Learn topics like Object Oriented Programming, multiprocessing, generators, and much more.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/python-intermediate" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>

        <div class="col l6 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/sockets-tutorial" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/PythonFundamentals/Sockets tutorial with Python 3.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Sockets tutorial with Python 3</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Learn how to communicate between programs locally and remotely with sockets.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/sockets-tutorial" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">start</a>
                    </div>
                </a>
            </div>


        </div>



    </div>
</div>
<script>
    function goBack() {
        window.history.back()
    }
</script>
<script type="text/javascript " src="../static/js/run_prettify.js "></script>

{% endblock %}