{% extends 'main/header.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<form action="" method="POST">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        <h5>Login Page</h5>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="POST" action="">
                            {% csrf_token %} {{LoginForm}}
                            <div class="form-group " style="text-align:center">
                                <br>
                                <button type="submit" class="btn btn-dark login-button">Login</button>
                            </div><br>
                            <div class="login-register" style="text-align: center;">
                                <h3>Don't have an account? <a href="/register">Register</a> here</h3>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}