{% extends 'main/header.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<form action="" class="form-horizontal" method="POST">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        <h5>Registration Page</h5>
                    </div>
                    <div class="card-body">
                        {% csrf_token %} {{RegForm.as_p}}

                        <div class="form-group" style="text-align:center">
                            <br>
                            <button type="subit" class="btn btn-dark login-button">Register</button>
                        </div><br>
                        <div class="login-register" style="text-align: center;">
                            <h3>Already have an account? <a href="/login">Login</a> here</h3>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<br><br> {% endblock %}