{% extends 'main/header.html' %} {% load static %} {% block content %}

<!-- main content -->
<div class="container" style="max-width:1500px; min-height:100%">
    <!--Notification:-->
    <!--<p style="font-size:80%">TensorFlow.js Livestream:  <a href="https://www.youtube.com/watch?v=NjSlj95lliM" target="blank"><strong>Deep Learning in the browser</strong></a></p>-->
    <!--End Notification:-->

    <br><button type="button" class="btn" style="background-color:#FFF; color:#000" onclick="goBack()">Back</button><br>
    <div class="row">


        <div class="col l4 s12 m4">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/pygame" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/GameDevelopment/pygame-tutorials.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>PyGame Game Development</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Develop games in Python with PyGame.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/pygame" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>

        <div class="col l4 s12 m4">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/opengl-rotating-cube" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/GameDevelopment/pyopengl.gif' %}" style="width:250px">
                        <br><span class="card-title"><strong>PyOpenGL Basics</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Implement OpenGL technology with PyGame using PyOpenGL.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/opengl-rotating-cube" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>


        <div class="col l4 s12 m4">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/kivy-basics" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/GameDevelopment/kivy-tutorials.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Kivy Basics</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Create cross-platform (Windows, Mac, Linux, iOS, and Android) games and applications with Python's Kivy.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/kivy-basics" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>




    </div>


</div>
</div>


{% endblock %}