{% extends 'main/header.html' %} {% load static %} {% block content %}

<!-- main content -->
<div class="container" style="max-width:1500px; min-height:100%">
    <br><button type="button" class="btn" style="background-color:#FFF; color:#000" onclick="goBack()">Back to Home</button><br>
    <div class="row">


        <div class="col l6 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/python-basics" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/PythonFundamentals/python-3-basics.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Basics</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Just getting started?</p>
                        <p>Not a problem, learn the basics of programming with Python 3 here!</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/python-basics" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>


        <div class="col l6 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/python-intermediate" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/PythonFundamentals/intermediate-python-category.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Intermediate Python Fundamentals</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Python fundamentals that aren't basic.</p>
                        <p>Learn topics like Object Oriented Programming, multiprocessing, generators, and much more.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/python-intermediate" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
                    </div>
                </a>
            </div>


        </div>

        <div class="col l6 s12 m6">

            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="/sockets-tutorial" class="waves-effect waves-light" style="color:#000">
                    <div class="card-image">
                        <img class="responsive-img" src="{% static 'main/images/PythonFundamentals/Sockets tutorial with Python 3.png' %}" style="width:250px">
                        <br><span class="card-title"><strong>Sockets tutorial with Python 3</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Learn how to communicate between programs locally and remotely with sockets.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/sockets-tutorial" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">start</a>
                    </div>
                </a>
            </div>


        </div>



    </div>
</div>
<script>
    function goBack() {
        window.history.back()
    }
</script>
<script type="text/javascript " src="../static/js/run_prettify.js "></script>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">You've reached the end!</h5>
                <p class="grey-text text-lighten-4">Contact: Harrison@pythonprogramming.net</p>
                <ul>
                    <li><a href="#" class="grey-text text-lighten-3">Support this Website!</a></li>
                    <li><a href="#" class="grey-text text-lighten-3">Consulting and Contracting</a></li>
                    <li><a href="https://www.facebook.com/pythonprogramming.net/" class="grey-text text-lighten-3">Facebook</a></li>
                    <li><a href="https://twitter.com/sentdex" class="grey-text text-lighten-3">Twitter</a></li>
                    <li><a href="https://instagram.com/sentdex" class="grey-text text-lighten-3">Instagram</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Legal Stuff:</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Terms and Conditions</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © OVER 9000! PythonProgramming.net
            <a class="grey-text text-lighten-4 right" href="#!">Programming is a SuperPower!</a>
        </div>
    </div>
</footer>

{% endblock %}