<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}">
    <link rel="shortcut icon" href="{% static 'main/images/logo/python_dark_view.png' %}" type="image/x-icon">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Python Programming Tutorials</title>
</head>

<body>
    {% include 'main/includes/navbar.html' %} {% include 'main/includes/messages.html' %}
    <br> {% block content %} {% endblock %}
    <footer class="page-footer" style="background-color:rebeccapurple">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">You've reached the end!</h5>
                    <p class="grey-text text-lighten-4">Contact: Harrison@pythonprogramming.net</p>
                    <ul>
                        <li><a href="#" class="grey-text text-lighten-3">Support this Website!</a></li>
                        <li><a href="#" class="grey-text text-lighten-3">Consulting and Contracting</a></li>
                        <li><a href="https://www.facebook.com/pythonprogramming.net/" class="grey-text text-lighten-3">Facebook</a></li>
                        <li><a href="https://twitter.com/sentdex" class="grey-text text-lighten-3">Twitter</a></li>
                        <li><a href="https://instagram.com/sentdex" class="grey-text text-lighten-3">Instagram</a></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Legal Stuff:</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#">Terms and Conditions</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © OVER 9000! PythonProgramming.net
                <a class="grey-text text-lighten-4 right" href="#!">Programming is a SuperPower!</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
</body>

</html>