{% extends 'main/header.html' %} {% load static %} {% block content %}

<div class="row">
    <div class="nav-wrapper container">
        <!--Size 4 on a large screen, 12 on a small screen, 6 on a medium screen-->
        <div class="col l4 s12 m6">
            <a href="#" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke;">
                <a href="/machine-learning-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke;">
                    <div class="card-image">
                        <img src="{% static 'main/images/machine learning.jpg' %}" alt="machine_learning" class="responsive-img" style="width:250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>Machine Learning</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Employ both supervised and unsupervised machine learning, to make predictions or to understand data.
                        </p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="/machine-learning-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/machine-learning-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12 m6">
            <a href="/data-analysis-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke;">
                <a href="/data-analysis-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke;">
                    <div class="card-image">
                        <img src="{% static 'main/images/data analysis.jpg' %}" alt="machine_learning" class="responsive-img" style="width: 250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>Data Analysis</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Learn how to use Python with Pandas, Matplotlib, and other modules to gather insights from and about your data</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="/data-analysis-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/data-analysis-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12 m6">
            <a href="/quantum-programming-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke">
                <a href="/quantum-programming-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke">
                    <div class="card-image">
                        <img src="{% static 'main/images/quantum programming.jpg' %}" alt="machine_learning" class="responsive-img" style="width:250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>Quantum Programming</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Learn the basics and concepts of working with quantum computers and qubits through practical applications and the Qiskit package.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="/quantum-programming-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/quantum-programming-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l3 s12 m6">
            <a href="/game-development-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke">
                <a href="/game-development-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke">
                    <div class="card-image">
                        <img src="{% static 'main/images/game development.jpg' %}" alt="machine_learning" class="responsive-img" style="width:250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>Game Development</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Create your own games with Python's PyGame library, or check out the multi-platform Kivy.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="/game-development-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/game-development-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l3 s12 m6">
            <a href="/python-fundamental-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke">
                <a href="/python-fundamental-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke">
                    <div class="card-image">
                        <img src="{% static 'main/images/python fundamentals.jpg' %}" alt="machine_learning" class="responsive-img" style="width:250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>Python Fundamentals</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Learn the basic and intermediate Python fundamentals.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <br>
                    <a href="/python-fundamental-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/python-fundamental-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l3 s12 m6">
            <a href="/web-development-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke">
                <a href="/web-development-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke">
                    <div class="card-image">
                        <img src="{% static 'main/images/web development.jpeg' %}" alt="machine_learning" class="responsive-img" style="width:250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>Web Development</strong></span>
                    </div>
                    <div class="card-content">
                        <p>How to develop websites with either the Flask or Django frameworks for Python.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="/web-development-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/web-development-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l3 s12 m6">
            <a href="/bot-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke">
                <a href="/bot-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke">
                    <div class="card-image">
                        <img src="{% static 'main/images/ai-robotics.jpeg' %}" alt="machine_learning" class="responsive-img" style="width:249.55px;height: 142.23px;">
                        <br>
                        <span class="card-title"><strong>Bots and A.I</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Creating various bots in games chats, interacting with the web. Not to be confused with robotics!
                        </p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="/bot-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/bot-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12 m6">
            <a href="/robotics-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke">
                <a href="/robotics-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke">
                    <div class="card-image">
                        <img src="{% static 'main/images/robotics.png' %}" alt="machine_learning" class="responsive-img" style="width:250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>Robotics</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Control hardware with Python programming and the Raspberry Pi.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <br><br>
                    <a href="/robotics-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/robotics-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12 m6">
            <a href="/gui-development-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke">
                <a href="/gui-development-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke">
                    <div class="card-image">
                        <img src="{% static 'main/images/GUI.jpg' %}" alt="machine_learning" class="responsive-img" style="width:250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>GUI's</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Create software with a user interface using Tkinter, PyQt, or Kivy.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <br><br>
                    <a href="/gui-development-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/gui-development-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12 m6">
            <a href="/golang-tutorials" class="waves-effect waves-light"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:whitesmoke">
                <a href="/golang-tutorials" class="waves-effect waves-light" style="color:black;background-color: whitesmoke">
                    <div class="card-image">
                        <img src="{% static 'main/images/golang.png' %}" alt="machine_learning" class="responsive-img" style="width:250px;height: 150px;">
                        <br>
                        <span class="card-title"><strong>Golang</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Go is a programming language aimed at being simple, easy to work with, and capable of high performance.
                        </p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="/golang-tutorials" class="waves-effect waves-light" style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="/golang-tutorials" class="waves-effect waves-light btn" style="color:#000;background-color: white;">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>

{% endblock %}