{% extends 'main/header.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="nav-wrapper container">
        <!--Size 4 on a large screen, 12 on a small screen, 6 on a medium screen-->
        <div class="col l4 s12 m6">
            <a href="#" class="waves-effect waves-light" style="color:#000"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="#" class="waves-effect waves-light" style="color:#000;background-color: white;">
                    <div class="card-image">
                        <img src="{% static 'main/images/machine learning.jpg' %}" alt="machine_learning"
                            class="responsive-img" width="250px">
                        <br>
                        <span class="card-title"><strong>Machine Learning</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Employ both supervised and unsupervised machine learning, to make predictions or to
                            understand
                            data.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="#" class="waves-effect waves-light"
                        style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="#" class="waves-effect waves-light"
                        style="color:#000;background-color: rebeccapurple;">View</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12 m6">
            <a href="#" class="waves-effect waves-light" style="color:#000"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="#" class="waves-effect waves-light" style="color:#000;background-color: white;">
                    <div class="card-image">
                        <img src="{% static 'main/images/machine learning.jpg' %}" alt="machine_learning"
                            class="responsive-img" width="250px">
                        <br>
                        <span class="card-title"><strong>Machine Learning</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Employ both supervised and unsupervised machine learning, to make predictions or to
                            understand
                            data.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="#" class="waves-effect waves-light"
                        style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="#" class="waves-effect waves-light"
                        style="color:#000;background-color: rebeccapurple;">View</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12 m6">
            <a href="#" class="waves-effect waves-light" style="color:#000"></a>
            <div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
                <a href="#" class="waves-effect waves-light" style="color:#000;background-color: white;">
                    <div class="card-image">
                        <img src="{% static 'main/images/machine learning.jpg' %}" alt="machine_learning"
                            class="responsive-img" width="250px">
                        <br>
                        <span class="card-title"><strong>Machine Learning</strong></span>
                    </div>
                    <div class="card-content">
                        <p>Employ both supervised and unsupervised machine learning, to make predictions or to
                            understand
                            data.</p>
                    </div>
                </a>
                <div class="card-action right-align">
                    <a href="#" class="waves-effect waves-light"
                        style="color:#000;background-color: rebeccapurple;"></a>
                    <a href="#" class="waves-effect waves-light"
                        style="color:#000;background-color: rebeccapurple;">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">You've reached the end!</h5>
                <p class="grey-text text-lighten-4">Contact: Harrison@pythonprogramming.net</p>
                <ul>
                    <li><a href="#" class="grey-text text-lighten-3">Support this Website!</a></li>
                    <li><a href="#" class="grey-text text-lighten-3">Consulting and Contracting</a></li>
                    <li><a href="https://www.facebook.com/pythonprogramming.net/"
                            class="grey-text text-lighten-3">Facebook</a></li>
                    <li><a href="https://twitter.com/sentdex" class="grey-text text-lighten-3">Twitter</a></li>
                    <li><a href="https://instagram.com/sentdex" class="grey-text text-lighten-3">Instagram</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Legal Stuff:</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Terms and Conditions</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © OVER 9000! PythonProgramming.net
            <a class="grey-text text-lighten-4 right" href="#!">Programming is a SuperPower!</a>
        </div>
    </div>
</footer>

{% endblock %}