{% extends 'main/header.html' %} {% load static %} {% block content %}
<!-- main content -->
<div class="container" style="max-width:1500px; min-height:100%">
    <!--Notification:-->
    <!--<p style="font-size:80%">TensorFlow.js Livestream:  <a href="https://www.youtube.com/watch?v=NjSlj95lliM" target="blank"><strong>Deep Learning in the browser</strong></a></p>-->
    <!--End Notification:-->








    <body class="body">
        <div class="row">
            <div class="col l8 m12 s12">


                <div class="container-fluid" align="left">







                    <!--<div class="progress" style="background-color:#ffebbe;height:20px;">
			<div class="determinate" style="background-color:#FFD166;width: 0%;">
				Build a Supercomputer and program with MPI Progress:  0%
			</div>
		</div>-->
                    <img class="responsive-img" src="../static/images/supercomputer/raspberry-pi-supercomputer.jpg" alt="supercomputing tutorial" />
                    <h2>Build a Supercomputer with Raspberry Pis</h2>
                    <br>

                    <h3>Using the Raspberry Pi as a cheap node to a supercomputer</h3>
                    <p>Normally, building a supercomputer, even just a cheap one to learn about networking and parallel computing, is quite expensive. With the Raspberry Pi, however, we can build a functional 4-node supercomputer for less than $200.</p>

                    <p>Now, some people might ask why you might consider building a supercomputer out of Raspberry Pis, citing their weak processing abilities. To these people, I simply respond: Because I can. Just the very notion of building a supercomputer
                        is plain awesome.</p>

                    <p>If being able to say you've built and own a supercomputer is not enough, that's fine. You will also learn about networking and parallel processing.</p>

                    <p>In this series, you will learn not only how to build the supercomputer, but also how to use it by parallel programming with MPI (Message Passing Interface) and the Python programming language.</p>

                    <p>To get started, let's learn some basics to supercomputing.:</p>














                    <p>The next tutorial: <a title="Intro" href="../supercomputer-intro/index8cd0.html?completed=/build-supercomputer-raspberry-pi/"><button class="btn" style="background-color:#FFD166; color:#000000">Intro</button></a></p><br>







                </div>


            </div>
            <div class="col l4 m12 s12">
                <br><br><br>

                <ul class="collapsible popout" data-collapsible="accordion" style='font-size:85%; padding-left:50px'>

                    <!-- C.A. : -->



                    <a href="https://nnfs.io?a=5&amp;t=/build-supercomputer-raspberry-pi/" id=process_click>
                        <div class="card hoverable" style="max-width:400px; align-items: left;">
                            <div class="card-image">
                                <img id=process_click class="responsive-img" src="../static/images/CAs/nnfs-1.png" />
                            </div>
                        </div>
                    </a>

                    <li>
                        <div class="collapsible-header active" style="padding:2px">Build a Supercomputer with Raspberry Pis</div>

                    </li>



                    <li>
                        <div class="collapsible-header">Intro</div>
                        <div class="collapsible-body">
                            <p><a href="../supercomputer-intro/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Supplies</div>
                        <div class="collapsible-body">
                            <p><a href="../supplies-for-supercomputer/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Installing Operating System</div>
                        <div class="collapsible-body">
                            <p><a href="../installing-supercomputer-operating-system/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Downloading and installing MPI</div>
                        <div class="collapsible-body">
                            <p><a href="../download-and-install-mpi-for-supercomputer/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Testing Supercomputer</div>
                        <div class="collapsible-body">
                            <p><a href="../testing-supercomputer/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">MPI with MPI4py Introduction</div>
                        <div class="collapsible-body">
                            <p><a href="../learning-use-mpi-python-mpi4py-module/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Installing mpi4py for use with Python and MPI</div>
                        <div class="collapsible-body">
                            <p><a href="../installing-testing-mpi4py-mpi-python-tutorial/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">First basic MPI script with mpi4py</div>
                        <div class="collapsible-body">
                            <p><a href="../basic-mpi4py-script-getting-node-rank/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Using conditional, Python, statements alongside MPI commands example</div>
                        <div class="collapsible-body">
                            <p><a href="../conditional-statements-alongside-mpi-mpi4py/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Getting network processor size with the size command</div>
                        <div class="collapsible-body">
                            <p><a href="../mpi4py-size-command-mpi/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Sending and Receiving data using send and recv commands with MPI</div>
                        <div class="collapsible-body">
                            <p><a href="../sending-receiving-data-messages-mpi4py/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Dynamically sending messages to and from processors with MPI and mpi4py</div>
                        <div class="collapsible-body">
                            <p><a href="../sending-receiving-messages-nodes-dynamically/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Message and data tagging for send and recv MPI commands tutorial</div>
                        <div class="collapsible-body">
                            <p><a href="../tagging-messages-mpi-multiple-messages/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">MPI broadcasting tutorial with Python, mpi4py, and bcast</div>
                        <div class="collapsible-body">
                            <p><a href="../mpi-broadcast-tutorial-mpi4py/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Scatter with MPI tutorial with mpi4py</div>
                        <div class="collapsible-body">
                            <p><a href="../scatter-gather-mpi-mpi4py-tutorial/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>



                    <li>
                        <div class="collapsible-header">Gather command with MPI, mpi4py, and Python</div>
                        <div class="collapsible-body">
                            <p><a href="../mpi-gather-command-mpi4py-python/index.html"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">Go
									  </button></a></p>
                        </div>
                    </li>
                </ul>


            </div>
        </div>





    </body>




</div>
</div>

<!--login modal-->


<!--Register modal-->



<script>
    $(document).ready(function() {
        $(".button-collapse").sideNav();
        $('.modal-trigger').leanModal();
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        $('#aside').pushpin({
            top: 110,
            bottom: 500
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        $('select').material_select();
    });
</script>
<script>
    function goBack() {
        window.history.back()
    }
</script>
<script type="text/javascript" src="../static/js/run_prettify.js"></script>

</body>
{% endblock %}